<% content_for :head do %>
<%= javascript_include_tag "geo.js" %>	
<% end %>
<div id="result"></div>
<div id="map"></div>
<div id="selected_message">
	
</div>
<%= link_to "New Flirt", new_message_path() %>